.formulario-container{
    padding: 75px;
}

.card{
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 1fr));
    grid-auto-rows: minmax(25px,50px);

}

.title-card{
    grid-row: 1 / -1;
    grid-column: 1 / 4;
}

.description-card{
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    min-height: 48px;
    max-height: 48px;
}

.dateStart-card{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    text-align: center;
}

.dateEnd-card{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    text-align: center;
}

.select-card{
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    width: 40%;
    height: min-content;
    justify-self: center;
    align-self: center;
}

.btn-save{
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

