body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
  display: grid;
  grid-template-columns: auto auto;
  margin: 50px;
}

.form{
  display: flex;
  align-items: center;
  flex-direction: column;
}

input{
  width: 235px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  outline: solid 1px black;
}

.btn-guardar{
  background-color: rgb(119, 180, 27);
  padding: 20px;
  border-radius: 10px;
  width: 150px;
}