body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url("./img/salacine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  top: 0;
  margin: 0;
  padding: 0;
  height: 92vh; 
  position: relative; 
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  margin: 50px;
  position: relative;
  z-index: 2;
}

.cajero-status-on {
  color: green;
  font-size: 20px;
}

.cajero-status-off {
  color: red;
  font-size: 20px;
}


.izquierda h1 {
  text-align: center;
  font-size: 24px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  width: 235px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  outline: solid 1px black;
  color: black;
}

.btn-guardar {
  background-color: rgb(119, 180, 27);
  padding: 20px;
  border-radius: 10px;
  width: 150px;
}

.img-ticket {
  width: 150px;
}

.report {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.369);
  height: 80vh;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  z-index: 2; /* Asegúrate de que el contenido esté sobre la capa opaca */
}

.report h1 {
  font-size: 32px;
}

.report table {
  font-size: 18px;
}

.img-trash{
  width: 20px;
  
}

@media screen and (max-width: 768px) {
  body{
    height: 100vh;
  }
  .container {
    grid-template-columns: 1fr;
    margin: 20px;
  }

  .izquierda h1 {
    font-size: 20px;
  }

  input {
    width: 75%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .btn-guardar, .btn-desconectar {
    padding: 15px;
    width: 75%;
    margin: 10px 0;
  }

  .derecha{
    display: flex;
    justify-content: center;
  }

  .report {
    width: 75%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
  }

  .report h1 {
    font-size: 24px;
  }

  .report table {
    font-size: 16px;
  }

  
}

@media screen and (max-width: 480px) {

  body{
    width: auto;
    background-size: cover;
  }

  .container {
    margin: 10px;
  }

  .izquierda h1 {
    font-size: 18px;
    margin: 10px;
  }

  input {
    width: 200px;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
  }

  .btn-guardar, .btn-desconectar {
    padding: 10px;
    width: 200px;
    margin: 5px 0;
  }

  .report {  
    padding: 15px;
    border-radius: 5px;
    justify-content: center;
  }

  .report h1 {
    font-size: 20px;
  }

  .report table {
    font-size: 14px;
  }

  .img-ticket{
    order: -1;
  }
}